@import '../../styles/common.scss';

.nav {
  // position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  // top: 0;
  // padding: 0 18px; // MEMO 미디어쿼리 필요
  background-color: #fff;
  // box-shadow:: 0 1px 0 0 rgba(0, 0, 0, 10%);
  border-bottom: solid 1px rgba(0, 0, 0, 10%);
  z-index: 100;
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 1060px;
  height: 50px;
}

.logoBox {
  display: flex;
  justify-content: space-between;
  width: 106px;
}

.listIcon {
  width: 17px;
  height: 14px;
}

.logo {
  width: 75px;
  height: 16px;
}

.categoryBox {
  height: inherit;
  text-align: center;
  margin: 0;
}

.categoryName {
  display: flex;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;

  .searchIcon {
    height: 18px;
    position: relative;
    margin-top: 5px;
  }

  .bellIcon {
    height: 18px;
    position: relative;
    margin-top: 5px;
  }

  .userIcon {
    position: relative;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.serviceBox {
  display: flex;
  align-items: center;

  .bar {
    font-size: 8px;
  }

  .serviceText {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
    text-decoration: inherit;
    cursor: pointer;
  }
}
